# Data files
data/raw/
data/processed/

# Python
venv/
pycache/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Models
best_model.pth

# Environment
.env

# pour ignore le partage de check points sur github
checkpoints/*.pth

# pour ignorer le partage de wandb sur git
echo "wandb/" >> .gitignore
